body{
    font-family: sans-serif;
}
.clock{
    width: 400px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    border-radius: 50%;
    background: #f0f1f2 url(face.png) center center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
}

.clock .clock-h,
.clock .clock-m,
.clock .clock-s {
    position: absolute;
    width: 20px;
    height: 160px;
    background-color: #333333;
    border-radius: 8px;
    left: calc(50% - 10px);
    top: calc(50% - 120px);
    transform-origin: 50% 120px;
    /* transform: rotate(30deg); */
    z-index: 1;
    opacity: 0.95;
    
}
.clock .clock-m{
    width: 12px;
    height: 190px;
    background-color: #777;
    left: calc(50% - 6px);
    top: calc( 50% - 145px);
    z-index: 1;
    transform-origin: 50% 145px;
}
.clock .clock-s{
    width: 6px;
    height: 210px;
    background-color: #be2a2a;
    left: calc(50% - 3px);
    top: calc( 50% - 160px);
    z-index: 1;
    transform-origin: 50% 160px;
}
.clock .clock-nail{
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #000;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    border-radius: 50%;
    z-index: 3;
}
.day{
    background-color: rgb(222, 225, 231);
    width: 90px;
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    top: calc(50% - 25px);
    left: calc(50% + 50px);
    
    color: rgba(0, 0, 0, 0.705);
    font-size: 24px;
    font-weight: bold;
    border: 1px rgba(0, 0, 0, 0.712) solid;

}
.named{
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% + 50px);
    font-size: 12px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    box-sizing: border-box;
}

@media screen and (max-width:576px){
    .clock{
        width: 350px;
        height: 350px;}

    .day{
    width: 70px;
    height: 40px;
    font-size: 18px;
    }
    .named{
       font-size: 10px;
        width: 70px;}
}